@page "/About"

<PageTitle>About</PageTitle>

<div class="card">


        <h3 class="fw-bold">About Manager Portal</h3>
        <p>
            Efficiently manage your clients and their contact information in one place. Our platform allows you to seamlessly create and maintain connections between clients and contacts, ensuring smooth communication and organization.
        </p>
        <p>This is an assessment project developed by Helix W. Chipofya.</p>


</div>



@code {

}
